<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/" >Restaurant CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/admin" >Home </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" appDropdown>
          <a class="nav-link dropdown-toggle" routerLink="/admin/ingredients" >Ingredients</a>
          <ul class="dropdown-menu" >
              <li><a (click)="goToNewIngredient()" style="cursor: pointer;">Add New</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" appDropdown>
          <a class="nav-link dropdown-toggle" routerLink="/admin/clients" >Clients</a>
          <ul class="dropdown-menu" >
              <li><a (click)="goToNewClient()" style="cursor: pointer;">Add New</a></li>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="submitSearch($event)">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" (change)="searchInLists($event)">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
